CMakeCache.txt
winbuild/
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
build/
*.dylib
*.pyc
.DS_Store
private.cmake
.deps/
*.o
*.a

/.vs
CMakeSettings.json
capchild/Makefile
capchild/Makefile.in
capchild/doxygen.cfg
caputils/Makefile.in
