language: cpp

dist: trusty
sudo: required

services:
  - docker

compiler:
  - gcc
  - clang

install:
  - docker pull eplviz/archlinux_base

script:
  - docker run -p 127.0.0.1:80:4567 -t --name builder -v "$PWD":"$PWD" -w "$PWD" eplviz/archlinux_base ./travisRun.sh $CXX

